<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="Galaxy" connectionString="Data Source=222.76.218.250;Initial Catalog=Galaxy;User ID=sa;Password=QAOa^eVJ;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>-->
  <add name="Galaxy" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\galaxy.mdf;Initial Catalog=galaxy;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>